body{
    font-family: Arial;
    background-color: #d4d0d0;
    color: #333;
    margin: none;
}

header{
    background-color: #d10000;
    color: #ffffff;
    text-align: center;
    padding: 20px;

}
section{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

h2{
    color: #4caf50;
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

img:hover{
    transform: scale(1.03);
}

button{
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(82, 82, 200);
}

button:active{
    opacity: 0.15s;
}

.email-field{
    margin: 10px;
}

.email-field:hover{
    cursor:pointer;
    color: #d10000;
}

.product_feature{
    margin: auto;
    padding: 20px;
    max-width: 600px;
    border: solid 1px #ddd;
    border-radius: 5px;
}


.footer{
    margin-top: 20px;
    padding: 20px;
    background-color: #000000;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.footer:hover{
    opacity: 80% ; 
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

